/* 1. FONTS */
/* ================================================ */
@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.eot?") format("eot"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.woff") format("woff"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.ttf") format("truetype"), url("../fonts/RobotoCondensed-Bold/RobotoCondensed-Bold.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.eot?") format("eot"), url("../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.woff") format("woff"), url("../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-BoldItalic/RobotoCondensed-BoldItalic.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.eot?") format("eot"), url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.woff") format("woff"), url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.ttf") format("truetype"), url("../fonts/RobotoCondensed-Italic/RobotoCondensed-Italic.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.eot?") format("eot"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.woff") format("woff"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.ttf") format("truetype"), url("../fonts/RobotoCondensed-Light/RobotoCondensed-Light.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.eot?") format("eot"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.woff") format("woff"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.ttf") format("truetype"), url("../fonts/RobotoCondensed-LightItalic/RobotoCondensed-LightItalic.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.eot?") format("eot"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.woff") format("woff"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.ttf") format("truetype"), url("../fonts/RobotoCondensed-Regular/RobotoCondensed-Regular.svg#RobotoCondensed") format("svg"); }

@font-face {
  font-family: "Coiny-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Coiny-Regular/Coiny-Regular.eot?") format("eot"), url("../fonts/Coiny-Regular/Coiny-Regular.woff") format("woff"), url("../fonts/Coiny-Regular/Coiny-Regular.ttf") format("truetype"), url("../fonts/Coiny-Regular/Coiny-Regular.svg#Coiny-Regular") format("svg"); }

/* 2. NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

/* clearfix */
.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #fff;
  height: 100%;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input, textarea {
  color: #000;
  outline: none;
  border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none; }

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none; }

td, form {
  margin: 0;
  padding: 0; }

a {
  color: #000;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent; }

* {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container:before, .container:after {
  content: " ";
  display: table; }

.container:after {
  clear: both; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-fluid:before, .container-fluid:after {
  content: " ";
  display: table; }

.container-fluid:after {
  clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.container {
  padding: 0; }

h2 {
  text-transform: uppercase; }

a {
  cursor: pointer; }

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #000;
  height: 60px;
  line-height: 52px;
  padding-left: 43px; }

.top_menu li {
  padding-right: 15px;
  list-style: none;
  display: inline-block; }

.top_menu li:last-child {
  padding-right: 0; }

.top_menu li a {
  font-family: 'RobotoCondensed';
  font-size: 14px;
  color: #00ff00; }

.top_menu li a:hover {
  color: #fff; }

.logo {
  margin-right: 257px; }

.logo a {
  font-family: 'Coiny-Regular';
  font-size: 24px;
  color: #00ff00; }

.logo span {
  color: #fff; }

.button_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 35px;
  padding-top: 11px; }

.btn_enter {
  background-image: url(../image/sprite.png);
  background-position: -226px -109px;
  width: 32px;
  height: 40px; }

.btn_enter:hover {
  background-image: url(../image/sprite.png);
  background-position: -259px 0px;
  width: 32px;
  height: 40px; }

.btn_search {
  background-image: url(../image/sprite.png);
  background-position: -125px -135px;
  width: 33px;
  height: 34px;
  margin: 0 45px 0 50px; }

.btn_search:hover {
  background-image: url(../image/sprite.png);
  background-position: -92px -135px;
  width: 33px;
  height: 34px; }

.btn_basket {
  background-image: url(../image/sprite.png);
  background-position: 0px -209px;
  width: 38px;
  height: 37px; }

.btn_basket:hover {
  background-image: url(../image/sprite.png);
  background-position: -200px -169px;
  width: 38px;
  height: 37px; }

.btn_enter,
.btn_search,
.btn_basket {
  -webkit-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s; }

.bottom_menu {
  text-align: center;
  background: #fff;
  height: 50px;
  line-height: 50px;
  overflow: hidden; }

.bottom_menu li {
  padding-right: 45px;
  list-style: none;
  display: inline-block; }

.bottom_menu li:last-child {
  padding-right: 0; }

.bottom_menu li a {
  font-family: 'RobotoCondensed';
  font-size: 19px;
  color: #000;
  text-transform: uppercase; }

.bottom_menu li a:hover {
  color: #13a513; }

.main_slider {
  overflow: hidden;
  position: relative;
  text-align: center; }

.main_slider h1 {
  font-family: 'Coiny-Regular';
  font-size: 178px;
  color: #00ff00;
  margin: 0;
  padding-bottom: 50px;
  margin-top: 22%; }

.main_slider h1 span {
  color: #fff; }

.main_slider p {
  color: #fff;
  font-size: 36px;
  font-family: 'RobotoCondensed'; }

.main_slider .item {
  position: relative;
  height: auto;
  min-height: 1470px;
  z-index: 10; }

.main_slider .item:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: url(../image/slider_img.png); }

.main_slider .item > * {
  position: relative;
  z-index: 8; }

.main_slider .slick-dots {
  list-style: none;
  position: absolute;
  bottom: 40%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff; }

.main_slider .slick-dots:nth-child(2) {
  padding: 0 15px 0 15px; }

.main_slider .slick-dots button {
  color: transparent;
  background: #fff;
  font-size: 0;
  border: none;
  height: 11px;
  margin-right: 6px;
  width: 0px; }

.main_slider .slick-dots .slick-active button {
  background: #00ff00; }

.main_slider .slick-arrow {
  background-color: transparent;
  border: transparent;
  color: transparent;
  z-index: 10;
  top: 29.5%; }

.main_slider .slick-prev {
  position: absolute;
  left: 1%;
  background-image: url(../image/sprite.png);
  background-position: -273px -142px;
  width: 14px;
  height: 22px; }

.main_slider .slick-next {
  position: absolute;
  right: 1%;
  background-image: url(../image/sprite.png);
  background-position: -259px -142px;
  width: 14px;
  height: 22px; }

.our_advantage {
  position: relative;
  margin-top: -555px;
  padding-bottom: 140px;
  background: #fff;
  background: url(../image/our_advantage.png) no-repeat center 74px, url(../image/our_advantage_bg.png); }

.our_advantage h2 {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 30px;
  color: #000;
  text-align: right;
  padding: 94px 15% 108px 0; }

.our_advantage .t-center {
  text-align: center; }

.our_advantage .price_img,
.our_advantage .hands_img,
.our_advantage .box_img,
.our_advantage .certificate_img {
  display: inline-block; }

.our_advantage .price_img {
  background-image: url(../image/sprite.png);
  background-position: -101px 0px;
  width: 85px;
  height: 95px; }

.our_advantage .hands_img {
  background-image: url(../image/sprite.png);
  background-position: 0px 0px;
  width: 101px;
  height: 95px; }

.our_advantage .box_img {
  background-image: url(../image/sprite.png);
  background-position: 0px -95px;
  width: 92px;
  height: 74px; }

.our_advantage .certificate_img {
  background-image: url(../image/sprite.png);
  background-position: -186px 0px;
  width: 73px;
  height: 80px; }

.our_advantage .height_img {
  height: 95px;
  margin-bottom: 35px; }

.our_advantage h3 {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase; }

.our_advantage a {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 14px;
  padding: 7px 12px 5px 11px;
  background: #00ff00;
  display: inline-block;
  margin-top: 13px; }

.shares {
  background-image: url(../image/share_bg.png);
  padding: 100px 0 72px 0;
  min-height: 700px; }

.shares h2 {
  color: #fff;
  text-align: center;
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 30px;
  padding-bottom: 100px; }

.shares img {
  border: 1px solid #00ff00;
  max-width: 100%; }

.shares h3 {
  color: #fff;
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 30px; }

.shares .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.shares .share_price {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 36px;
  color: #00ff00;
  float: left;
  padding-right: 10px; }

.shares .del_price {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  text-decoration: line-through;
  padding-top: 13px; }

.shares .quantity {
  padding: 11px 0 70px 0; }

.shares .quantity button {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 36px;
  border: none;
  background: #e9e9e9;
  width: 26px;
  height: 50px;
  text-align: center;
  margin-left: -4px; }

.shares .quantity input {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 36px;
  border: none;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-left: -4px; }

.shares .quantity a {
  font-family: 'RobotoCondensed';
  font-size: 24px;
  padding: 14px 9px 12px 22px;
  background: #00ff00;
  color: #000;
  display: inline-block;
  vertical-align: top; }

.shares .quantity a:before {
  content: '';
  background-image: url(../image/sprite.png);
  background-position: -259px -120px;
  width: 23px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  vertical-align: top; }

.shares .quantity a:hover {
  background: #fff; }

.shares .all_shares {
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  padding: 18px 74px;
  background: #fff;
  color: #000;
  display: table;
  margin: 0 auto;
  border-radius: 4px; }

.shares .all_shares:hover {
  background: #00ff00; }

.subscribe_block {
  background-image: url(../image/subscribe_bg.png);
  padding-top: 25px;
  min-height: 120px; }

.subscribe_block h3 {
  font-family: 'RobotoCondensed';
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 8px; }

.subscribe_block p {
  padding: 6px 29px 6px 35px;
  display: inline-block;
  background: #00ff00;
  font-size: 14px;
  font-family: 'RobotoCondensed'; }

.subscribe_block .subscribe_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.subscribe_block .subscribe_form input[type="text"] {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 20px 20px 20px 35px;
  color: #747474;
  font-size: 24px;
  font-family: 'RobotoCondensed';
  width: calc(100% - 270px - 30px); }

.subscribe_block .subscribe_form input[type="button"] {
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  padding: 18px 60px 19px 54px;
  color: #fff;
  background: #00ff00;
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'RobotoCondensed';
  margin-left: 30px; }

.subscribe_block .subscribe_form input[type="button"]:hover {
  background: #000; }

.popular_goods {
  background: #fff url(../image/popular_goods_bg.jpg);
  background-position: center top;
  background-repeat: repeat-y;
  padding-bottom: 96px; }

.popular_goods h2 {
  color: #000;
  padding-bottom: 65px;
  text-align: right;
  padding-right: 16%; }

.popular_goods h3,
.popular_goods .del_price {
  color: #000; }

.popular_goods input[type="text"] {
  border: 1px solid #dfdfdf; }

.popular_goods .quantity a {
  border: 1px solid #00ff00; }

.popular_goods .quantity a:hover {
  border-color: #000; }

.popular_goods .download_more {
  padding: 18px 49px;
  background: #000;
  color: #fff; }

.popular_goods .download_more:hover {
  background: #00ff00;
  border-color: transparent; }

.course_slider {
  background-image: url(../image/course_slider.png);
  min-height: 890px;
  position: relative;
  background-size: cover;
  background-position: top center;
  padding-top: 101px; }

.course_slider .container {
  width: 1206px; }

.course_slider .container .row {
  margin: 0; }

.course_slider .course_slider_container .item .wrapp_for_width {
  width: 370px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto; }

.course_slider .course_slider_container .item .wrapp_for_width img {
  width: 100%;
  height: auto; }

.course_slider .course_slider_container .quantity {
  padding-bottom: 0; }

.course_slider .course_slider_container .slick-arrow {
  background-color: transparent;
  border: transparent;
  color: transparent;
  top: 30%; }

.course_slider .course_slider_container .slick-prev {
  position: absolute;
  left: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -40px;
  width: 24px;
  height: 40px; }

.course_slider .course_slider_container .slick-next {
  position: absolute;
  right: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -80px;
  width: 23px;
  height: 40px; }

.course_slider .course_slider_container .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -9%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff; }

.course_slider .course_slider_container .slick-dots:nth-child(2) {
  padding: 0 15px 0 15px; }

.course_slider .course_slider_container .slick-dots button {
  color: transparent;
  background: #fff;
  border-radius: 50%;
  border: none;
  height: 11px;
  margin-right: 6px;
  width: 0px; }

.course_slider .course_slider_container .slick-dots .slick-active button {
  background: #00ff00; }

.reviews_manufactures {
  background: url(../image/reviews_manufactures_bg.png) no-repeat center center;
  min-height: 1087px; }

.reviews_manufactures .container {
  width: 1206px; }

.reviews_manufactures .container .row {
  margin: 0; }

.reviews {
  margin-bottom: 75px; }

.reviews .row {
  margin: 0; }

.reviews h2 {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  padding: 68px 0 63px 0;
  text-align: center; }

.reviews a {
  font-family: 'RobotoCondensed';
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  padding: 18px 51px;
  background: #000;
  color: #fff;
  display: table;
  margin: 60px auto 0;
  border-radius: 4px; }

.reviews a:hover {
  background: #00ff00;
  color: #000;
  border-color: transparent; }

.reviews .rev_slider_container .item {
  padding: 0 15px;
  margin-bottom: 15px;
  width: 370px; }

.reviews .rev_slider_container .item .header_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: 1px solid #00ff00;
  padding: 35px 33px 30px 35px;
  background: #000;
  color: #00ff00;
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 18px; }

.reviews .rev_slider_container .item .rev_text {
  font-family: 'RobotoCondensed';
  font-size: 14px;
  padding: 26px 40px 60px 35px;
  border: 1px solid #00ff00;
  line-height: 20px; }

.reviews .rev_slider_container .slick-arrow {
  background-color: transparent;
  border: transparent;
  color: transparent;
  top: 42%; }

.reviews .rev_slider_container .slick-prev {
  position: absolute;
  left: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -40px;
  width: 24px;
  height: 40px; }

.reviews .rev_slider_container .slick-next {
  position: absolute;
  right: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -80px;
  width: 23px;
  height: 40px; }

.reviews .rev_slider_container .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -9%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff; }

.reviews .rev_slider_container .slick-dots:nth-child(2) {
  padding: 0 15px 0 15px; }

.reviews .rev_slider_container .slick-dots button {
  color: transparent;
  background: #000;
  border-radius: 50%;
  border: none;
  height: 11px;
  margin-right: 6px;
  width: 0px; }

.reviews .rev_slider_container .slick-dots .slick-active button {
  background: #00ff00; }

.manufactures h2 {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #000;
  padding: 0 0 70px 0;
  text-align: center; }

.manufactures .manufactures_slider_container .item {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 370px; }

.manufactures .manufactures_slider_container .item figure {
  background: #fff;
  height: 110px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.manufactures .manufactures_slider_container .slick-arrow {
  background-color: transparent;
  border: transparent;
  color: transparent;
  top: 25%; }

.manufactures .manufactures_slider_container .slick-prev {
  position: absolute;
  left: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -40px;
  width: 24px;
  height: 40px; }

.manufactures .manufactures_slider_container .slick-next {
  position: absolute;
  right: -3%;
  background-image: url(../image/sprite.png);
  background-position: -259px -80px;
  width: 23px;
  height: 40px; }

.manufactures .manufactures_slider_container .slick-dots {
  list-style: none;
  position: absolute;
  bottom: -11%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff; }

.manufactures .manufactures_slider_container .slick-dots:nth-child(2) {
  padding: 0 15px 0 15px; }

.manufactures .manufactures_slider_container .slick-dots button {
  color: transparent;
  background: #000;
  border-radius: 50%;
  border: none;
  height: 11px;
  margin-right: 6px;
  width: 0px; }

.manufactures .manufactures_slider_container .slick-dots .slick-active button {
  background: #00ff00; }

.steroids {
  margin: 30px 0 70px 0; }

.steroids h2 {
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  color: #000;
  padding-bottom: 20px; }

.steroids .steroids_for {
  text-transform: uppercase;
  padding: 20px 0; }

.steroids p,
.steroids ol,
.steroids ul {
  font-family: 'RobotoCondensed';
  font-size: 14px;
  line-height: 20px; }

.steroids ol,
.steroids ul {
  padding-left: 13px; }

.steroids h4 {
  padding: 0 0 23px 0;
  font-family: 'RobotoCondensed';
  font-weight: 600;
  font-size: 14px; }

.steroids .list_steroids {
  padding: 20px 0; }

.steroids .padd {
  padding: 24px 0; }

.steroids .padd_top {
  padding-top: 20px; }

footer {
  background: url(../image/footer_bg.png);
  min-height: 325px;
  padding-top: 32px; }

footer .logo_footer a {
  font-family: 'Coiny-Regular';
  font-size: 53px;
  color: #00ff00; }

footer .logo_footer span {
  color: #fff; }

footer ul {
  list-style: none;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

footer ul li {
  padding-bottom: 20px; }

footer ul a {
  font-family: 'RobotoCondensed';
  font-size: 18px;
  color: #fff;
  text-transform: uppercase; }

footer ul a:hover {
  color: #00ff00; }

footer .foot_btn {
  font-family: 'RobotoCondensed';
  font-size: 30px;
  padding: 18px 30px 15px 35px;
  background: #00ff00;
  color: #000;
  display: table;
  margin: 0 auto;
  border-radius: 4px; }

footer .foot_btn:hover {
  background: #fff; }

footer .payment_method {
  color: #fff;
  margin-top: 20px;
  width: 215px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

footer .payment_method a {
  display: inline-block;
  margin-left: 4px;
  margin-bottom: 16px; }

footer .payment_method p {
  margin-bottom: 20px;
  width: 100%; }

footer .payment_method .one {
  background-image: url(../image/sprite.png);
  background-position: -160px -169px;
  width: 40px;
  height: 40px; }

footer .payment_method .two {
  background-image: url(../image/sprite.png);
  background-position: 0px -169px;
  width: 40px;
  height: 40px; }

footer .payment_method .three {
  background-image: url(../image/sprite.png);
  background-position: -186px -109px;
  width: 40px;
  height: 40px; }

footer .payment_method .four {
  background-image: url(../image/sprite.png);
  background-position: -92px -95px;
  width: 40px;
  height: 40px; }

footer .payment_method .five {
  background-image: url(../image/sprite.png);
  background-position: -40px -169px;
  width: 40px;
  height: 40px; }

footer .payment_method .six {
  background-image: url(../image/sprite.png);
  background-position: -132px -95px;
  width: 40px;
  height: 40px; }

footer .payment_method .seven {
  background-image: url(../image/sprite.png);
  background-position: -80px -169px;
  width: 40px;
  height: 40px; }

footer .payment_method .eight {
  background-image: url(../image/sprite.png);
  background-position: -120px -169px;
  width: 40px;
  height: 40px; }

footer .delivery_method {
  color: #fff;
  margin-top: 20px; }

footer .delivery_method p {
  margin-bottom: 20px;
  text-align: right; }

footer .delivery_method a {
  margin-top: 8px;
  display: inline-block;
  float: right;
  background-image: url(../image/sprite.png);
  background-position: -186px -80px;
  width: 59px;
  height: 29px; }

footer .footer_info {
  color: #fff;
  line-height: 15px; }

footer .footer_info p {
  font-family: 'RobotoCondensed';
  font-size: 12px; }

footer .footer_info a {
  color: #fff;
  font-family: 'RobotoCondensed';
  font-size: 12px;
  text-decoration: underline; }

footer .footer_info .polici {
  color: #00ff00;
  text-decoration: underline; }
