
@font-face {
  font-family: 'Coiny-Regular';
  src: url('Coiny-Regular.eot?#iefix') format('embedded-opentype'),  url('Coiny-Regular.woff') format('woff'), url('Coiny-Regular.ttf')  format('truetype'), url('Coiny-Regular.svg#Coiny-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
