// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$s-1-name: 's-1';
$s-1-x: 160px;
$s-1-y: 169px;
$s-1-offset-x: -160px;
$s-1-offset-y: -169px;
$s-1-width: 40px;
$s-1-height: 40px;
$s-1-total-width: 291px;
$s-1-total-height: 246px;
$s-1-image: '../image/sprite.png';
$s-1: (160px, 169px, -160px, -169px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-1', );
$s-2-name: 's-2';
$s-2-x: 0px;
$s-2-y: 169px;
$s-2-offset-x: 0px;
$s-2-offset-y: -169px;
$s-2-width: 40px;
$s-2-height: 40px;
$s-2-total-width: 291px;
$s-2-total-height: 246px;
$s-2-image: '../image/sprite.png';
$s-2: (0px, 169px, 0px, -169px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-2', );
$s-3-name: 's-3';
$s-3-x: 186px;
$s-3-y: 109px;
$s-3-offset-x: -186px;
$s-3-offset-y: -109px;
$s-3-width: 40px;
$s-3-height: 40px;
$s-3-total-width: 291px;
$s-3-total-height: 246px;
$s-3-image: '../image/sprite.png';
$s-3: (186px, 109px, -186px, -109px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-3', );
$s-4-name: 's-4';
$s-4-x: 92px;
$s-4-y: 95px;
$s-4-offset-x: -92px;
$s-4-offset-y: -95px;
$s-4-width: 40px;
$s-4-height: 40px;
$s-4-total-width: 291px;
$s-4-total-height: 246px;
$s-4-image: '../image/sprite.png';
$s-4: (92px, 95px, -92px, -95px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-4', );
$s-5-name: 's-5';
$s-5-x: 40px;
$s-5-y: 169px;
$s-5-offset-x: -40px;
$s-5-offset-y: -169px;
$s-5-width: 40px;
$s-5-height: 40px;
$s-5-total-width: 291px;
$s-5-total-height: 246px;
$s-5-image: '../image/sprite.png';
$s-5: (40px, 169px, -40px, -169px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-5', );
$s-6-name: 's-6';
$s-6-x: 132px;
$s-6-y: 95px;
$s-6-offset-x: -132px;
$s-6-offset-y: -95px;
$s-6-width: 40px;
$s-6-height: 40px;
$s-6-total-width: 291px;
$s-6-total-height: 246px;
$s-6-image: '../image/sprite.png';
$s-6: (132px, 95px, -132px, -95px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-6', );
$s-7-name: 's-7';
$s-7-x: 80px;
$s-7-y: 169px;
$s-7-offset-x: -80px;
$s-7-offset-y: -169px;
$s-7-width: 40px;
$s-7-height: 40px;
$s-7-total-width: 291px;
$s-7-total-height: 246px;
$s-7-image: '../image/sprite.png';
$s-7: (80px, 169px, -80px, -169px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-7', );
$s-8-name: 's-8';
$s-8-x: 120px;
$s-8-y: 169px;
$s-8-offset-x: -120px;
$s-8-offset-y: -169px;
$s-8-width: 40px;
$s-8-height: 40px;
$s-8-total-width: 291px;
$s-8-total-height: 246px;
$s-8-image: '../image/sprite.png';
$s-8: (120px, 169px, -120px, -169px, 40px, 40px, 291px, 246px, '../image/sprite.png', 's-8', );
$s-arrow-left-name: 's-arrow_left';
$s-arrow-left-x: 273px;
$s-arrow-left-y: 142px;
$s-arrow-left-offset-x: -273px;
$s-arrow-left-offset-y: -142px;
$s-arrow-left-width: 14px;
$s-arrow-left-height: 22px;
$s-arrow-left-total-width: 291px;
$s-arrow-left-total-height: 246px;
$s-arrow-left-image: '../image/sprite.png';
$s-arrow-left: (273px, 142px, -273px, -142px, 14px, 22px, 291px, 246px, '../image/sprite.png', 's-arrow_left', );
$s-arrow-right-name: 's-arrow_right';
$s-arrow-right-x: 259px;
$s-arrow-right-y: 142px;
$s-arrow-right-offset-x: -259px;
$s-arrow-right-offset-y: -142px;
$s-arrow-right-width: 14px;
$s-arrow-right-height: 22px;
$s-arrow-right-total-width: 291px;
$s-arrow-right-total-height: 246px;
$s-arrow-right-image: '../image/sprite.png';
$s-arrow-right: (259px, 142px, -259px, -142px, 14px, 22px, 291px, 246px, '../image/sprite.png', 's-arrow_right', );
$s-basket-name: 's-basket';
$s-basket-x: 0px;
$s-basket-y: 209px;
$s-basket-offset-x: 0px;
$s-basket-offset-y: -209px;
$s-basket-width: 38px;
$s-basket-height: 37px;
$s-basket-total-width: 291px;
$s-basket-total-height: 246px;
$s-basket-image: '../image/sprite.png';
$s-basket: (0px, 209px, 0px, -209px, 38px, 37px, 291px, 246px, '../image/sprite.png', 's-basket', );
$s-basket-hover-name: 's-basket_hover';
$s-basket-hover-x: 200px;
$s-basket-hover-y: 169px;
$s-basket-hover-offset-x: -200px;
$s-basket-hover-offset-y: -169px;
$s-basket-hover-width: 38px;
$s-basket-hover-height: 37px;
$s-basket-hover-total-width: 291px;
$s-basket-hover-total-height: 246px;
$s-basket-hover-image: '../image/sprite.png';
$s-basket-hover: (200px, 169px, -200px, -169px, 38px, 37px, 291px, 246px, '../image/sprite.png', 's-basket_hover', );
$s-basket-quanity-name: 's-basket_quanity';
$s-basket-quanity-x: 259px;
$s-basket-quanity-y: 120px;
$s-basket-quanity-offset-x: -259px;
$s-basket-quanity-offset-y: -120px;
$s-basket-quanity-width: 23px;
$s-basket-quanity-height: 22px;
$s-basket-quanity-total-width: 291px;
$s-basket-quanity-total-height: 246px;
$s-basket-quanity-image: '../image/sprite.png';
$s-basket-quanity: (259px, 120px, -259px, -120px, 23px, 22px, 291px, 246px, '../image/sprite.png', 's-basket_quanity', );
$s-box-name: 's-box';
$s-box-x: 0px;
$s-box-y: 95px;
$s-box-offset-x: 0px;
$s-box-offset-y: -95px;
$s-box-width: 92px;
$s-box-height: 74px;
$s-box-total-width: 291px;
$s-box-total-height: 246px;
$s-box-image: '../image/sprite.png';
$s-box: (0px, 95px, 0px, -95px, 92px, 74px, 291px, 246px, '../image/sprite.png', 's-box', );
$s-certificate-name: 's-certificate';
$s-certificate-x: 186px;
$s-certificate-y: 0px;
$s-certificate-offset-x: -186px;
$s-certificate-offset-y: 0px;
$s-certificate-width: 73px;
$s-certificate-height: 80px;
$s-certificate-total-width: 291px;
$s-certificate-total-height: 246px;
$s-certificate-image: '../image/sprite.png';
$s-certificate: (186px, 0px, -186px, 0px, 73px, 80px, 291px, 246px, '../image/sprite.png', 's-certificate', );
$s-course-slider-left-arrow-name: 's-course_slider_left_arrow';
$s-course-slider-left-arrow-x: 259px;
$s-course-slider-left-arrow-y: 40px;
$s-course-slider-left-arrow-offset-x: -259px;
$s-course-slider-left-arrow-offset-y: -40px;
$s-course-slider-left-arrow-width: 24px;
$s-course-slider-left-arrow-height: 40px;
$s-course-slider-left-arrow-total-width: 291px;
$s-course-slider-left-arrow-total-height: 246px;
$s-course-slider-left-arrow-image: '../image/sprite.png';
$s-course-slider-left-arrow: (259px, 40px, -259px, -40px, 24px, 40px, 291px, 246px, '../image/sprite.png', 's-course_slider_left_arrow', );
$s-course-slider-right-arrow-name: 's-course_slider_right_arrow';
$s-course-slider-right-arrow-x: 259px;
$s-course-slider-right-arrow-y: 80px;
$s-course-slider-right-arrow-offset-x: -259px;
$s-course-slider-right-arrow-offset-y: -80px;
$s-course-slider-right-arrow-width: 23px;
$s-course-slider-right-arrow-height: 40px;
$s-course-slider-right-arrow-total-width: 291px;
$s-course-slider-right-arrow-total-height: 246px;
$s-course-slider-right-arrow-image: '../image/sprite.png';
$s-course-slider-right-arrow: (259px, 80px, -259px, -80px, 23px, 40px, 291px, 246px, '../image/sprite.png', 's-course_slider_right_arrow', );
$s-enter-name: 's-enter';
$s-enter-x: 226px;
$s-enter-y: 109px;
$s-enter-offset-x: -226px;
$s-enter-offset-y: -109px;
$s-enter-width: 32px;
$s-enter-height: 40px;
$s-enter-total-width: 291px;
$s-enter-total-height: 246px;
$s-enter-image: '../image/sprite.png';
$s-enter: (226px, 109px, -226px, -109px, 32px, 40px, 291px, 246px, '../image/sprite.png', 's-enter', );
$s-enter-hover-name: 's-enter_hover';
$s-enter-hover-x: 259px;
$s-enter-hover-y: 0px;
$s-enter-hover-offset-x: -259px;
$s-enter-hover-offset-y: 0px;
$s-enter-hover-width: 32px;
$s-enter-hover-height: 40px;
$s-enter-hover-total-width: 291px;
$s-enter-hover-total-height: 246px;
$s-enter-hover-image: '../image/sprite.png';
$s-enter-hover: (259px, 0px, -259px, 0px, 32px, 40px, 291px, 246px, '../image/sprite.png', 's-enter_hover', );
$s-hands-name: 's-hands';
$s-hands-x: 0px;
$s-hands-y: 0px;
$s-hands-offset-x: 0px;
$s-hands-offset-y: 0px;
$s-hands-width: 101px;
$s-hands-height: 95px;
$s-hands-total-width: 291px;
$s-hands-total-height: 246px;
$s-hands-image: '../image/sprite.png';
$s-hands: (0px, 0px, 0px, 0px, 101px, 95px, 291px, 246px, '../image/sprite.png', 's-hands', );
$s-post-rus-name: 's-post_rus';
$s-post-rus-x: 186px;
$s-post-rus-y: 80px;
$s-post-rus-offset-x: -186px;
$s-post-rus-offset-y: -80px;
$s-post-rus-width: 59px;
$s-post-rus-height: 29px;
$s-post-rus-total-width: 291px;
$s-post-rus-total-height: 246px;
$s-post-rus-image: '../image/sprite.png';
$s-post-rus: (186px, 80px, -186px, -80px, 59px, 29px, 291px, 246px, '../image/sprite.png', 's-post_rus', );
$s-price-down-name: 's-price_down';
$s-price-down-x: 101px;
$s-price-down-y: 0px;
$s-price-down-offset-x: -101px;
$s-price-down-offset-y: 0px;
$s-price-down-width: 85px;
$s-price-down-height: 95px;
$s-price-down-total-width: 291px;
$s-price-down-total-height: 246px;
$s-price-down-image: '../image/sprite.png';
$s-price-down: (101px, 0px, -101px, 0px, 85px, 95px, 291px, 246px, '../image/sprite.png', 's-price_down', );
$s-search-name: 's-search';
$s-search-x: 125px;
$s-search-y: 135px;
$s-search-offset-x: -125px;
$s-search-offset-y: -135px;
$s-search-width: 33px;
$s-search-height: 34px;
$s-search-total-width: 291px;
$s-search-total-height: 246px;
$s-search-image: '../image/sprite.png';
$s-search: (125px, 135px, -125px, -135px, 33px, 34px, 291px, 246px, '../image/sprite.png', 's-search', );
$s-search-hover-name: 's-search_hover';
$s-search-hover-x: 92px;
$s-search-hover-y: 135px;
$s-search-hover-offset-x: -92px;
$s-search-hover-offset-y: -135px;
$s-search-hover-width: 33px;
$s-search-hover-height: 34px;
$s-search-hover-total-width: 291px;
$s-search-hover-total-height: 246px;
$s-search-hover-image: '../image/sprite.png';
$s-search-hover: (92px, 135px, -92px, -135px, 33px, 34px, 291px, 246px, '../image/sprite.png', 's-search_hover', );
$spritesheet-width: 291px;
$spritesheet-height: 246px;
$spritesheet-image: '../image/sprite.png';
$spritesheet-sprites: ($s-1, $s-2, $s-3, $s-4, $s-5, $s-6, $s-7, $s-8, $s-arrow-left, $s-arrow-right, $s-basket, $s-basket-hover, $s-basket-quanity, $s-box, $s-certificate, $s-course-slider-left-arrow, $s-course-slider-right-arrow, $s-enter, $s-enter-hover, $s-hands, $s-post-rus, $s-price-down, $s-search, $s-search-hover, );
$spritesheet: (291px, 246px, '../image/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
